*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding:0;
}
/* nav style is here     */
.nav-title{
    font-weight:800px;
    font-size:45px;
    text-transform:capitalize;
}
.head-nav{
    display:flex;
    justify-content:space-between;
    margin:0 200px;
    padding-top:50px;
}
.text-primary-color{
    color: #fd6e0A;
}
.btn-primary{
    height:64;
    background-color:#fd6e0A;
    border-radius:5px;
    padding:18px 35px;
    border:none;
    color:white;
    text-transform: capitalize;
    font-size:20px;
    font-weight: 700;

}
.head-nav-ul{
display:flex;
list-style:none;
align-items:center;
}
.head-nav-li{
    margin-right:15px;
    margin-right:50px;
}

.header{
    background-color:#fff8f3;
    background-image:url('../image/imgk.png');
    background-repeat: no-repeat;
    background-position:bottom right;


}
/* header banner style  */
.head-baner{
    display:flex;
    margin:0 80px 0 200px;
    align-items:center;
}
.banner-sub-title{
    font-weight:600;
    font-size:45px;
}

.banner-title{
    font-weight:700px;
    font-size: 75px;
    margin-bottom: 10px;
}

.banner-content{
    color:#757575;
    font-size:16px;
    margin-bottom:30px;
}
.bn-im{
    margin-bottom:-5px;
}
.developer{
    position:absolute;
    transform:rotate(-90deg);
    font-size:70px;
     right:985px;
    bottom:320px;
    letter-spacing: 24px;
    font-weight:900;
    text-transform: uppercase;
    color:#94949491;
}
/* main style here  */
main{
    max-width: 1140px;
    margin:0 auto;
}

/* about section style  */
.about{
    text-align: center;
    margin-top:130px;
    background-color:#FFE8DD ;
    border-radius: 10px;
    padding:150px 130px;
}

.about-title{
    margin-bottom: 30px;
    font-size:35px;
    font-weight: 700;
}

.about-p{
    font-size:18;
    margin-bottom: 30px;
    color:#757575;
    text-align:center;
}
/* .table-about{
   text-align: center;
    margin-left:106px;
}

.table-about td,th{
    padding:0 30px;
    text-align:center;
} */
.about-table{
    display: flex;
    text-align:center;
    justify-content: space-around;
}

/* what i do section style from here  */
.what-i-do h3{
    margin:130px 0;
    text-align: center;
    font-size:35px;
}
.skills{
    background-color:#ffffff;
    box-shadow: 0px 6px 30px rgb(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 5px;
}
.slkills-conteniar{
    display:flex;
    gap:24px;

}
.skill-title{
    font-size:20px;
    font-weight:700;
    margin:30px 0 20px 0;
}
.skill-descreption{
    color:#757575;
    padding-bottom:30px;
}

/* resume style from here  */
.resume-tittle{
    margin:130px 0;
    text-align:center;
    font-size:35px;
    font-weight:700;
    text-transform:capitalize;
}
.resume-content{
    display:flex;
    gap:25px;
}
.education-title{
    font-size:35px;
    margin-bottom: 30px;
}
.education-content{
    margin:30px 0;
}
.education-content-title{
    font-size:25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.education-content-sub-title{
    font-size:20px;
    font-weight:600;
    margin-bottom: 20px;
}
.education-content-discription{
    color:#757575;
    line-height: 30px;;
}
.buottn-resume{
    margin:50px 0;
    text-align: center;
}

/* lest contract section design form here  */
.contract{
    display:flex;
    gap:100px;
    padding:50px 200px;
    background-color: #fff8f3;
    /* height:500px; */
}
.social-con{
    display:flex;
    text-align: left;
    width:50%;
}
.socila-image{
    margin-right:15px;
    text-decoration: none;
}
.contract-title{
    text-align: left;
    margin-bottom: 50px;
}
.con-form{
    width:50%;
}
.con-form input[type="text"], input[type="email"], textarea{
    margin-bottom: 25px;
    border:none;
    border-radius: 5px;
    padding:18px 30px;
    width:100%;
}
input[type="text"], input[type="email"]{
    height: 46px;
}
.social-descreaption{
    margin-bottom:30px;
}